@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
}

.banner {
	width:100%;
}

.principal{
	padding: 30px;
}

.tituloPrincipal {
	font-size: 2em;
	text-align: center;
	margin: 0 0 1em;
	clear: left;
}

.principal{
	padding: 3em 0;
	background-color: #FEFEFE;
	width: 940px;
  margin: 0 auto;
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.missao {
	font-size: 20px;
	font-style: italic;
}

.utensilios{
	width: 120px;
	float: left;
	margin: 0 20px;
}

.mapaConteudo{
	width: 940px;
  margin: 0 auto;
}

.mapa{
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios{
	padding: 3em 0;
	background-color: #888888;
}
.conteudoBeneficios{
	width: 640px;
	margin: 0 auto;
}

.listaBeneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens{
	line-height: 1.5em;
}

.itens::before{
	content: "\2605";
}

.itens:first-child{
	font-weight: bold;
}

.imagemBeneficios {
	width: 50%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px black;
}

.imagemBeneficios:hover {
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
}

@media screen and (max-width: 480px){
	.principal, .conteudoBeneficios, .mapaConteudo, .video{
		width: auto;
	}

	.listaBeneficios, .imagemBeneficios{
		width: 100%;
	}

}