.conteudoContato{
  padding: 0 0 20px;
}

form {
  text-align: center;
  padding: 20px 0;
}

form label, legend{
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.inputPadrao{
  display: block;
  margin: 0 auto 10px;
  padding: 10px 20px;
  width: 50%;
}

.checkbox{
  margin: 20px 0;
}

.enviar{
  width: 40%;
  padding: 15px 0;
  background-color: orange;
  color:white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover{
  background-color: orangered;
  transform: scale(1.05);
}

table{
  margin: 0 auto;
}

thead{
  color:white;
  background: #555555;
  font-weight: bold;
}

td, th {
  border: 1px solid black;
  padding: 8px 15px;
}