main{
  background: white;
}

.produtos{
  max-width: 940px;
  width: auto;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li{
  display: inline-block;
  text-align: center;
  min-width: 280px;
  max-width: 30%;
  vertical-align: top;
  margin: 10px 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
}

.produtos li:hover{
  border-color: #C87C19;
}

.produtos li:active{
  border-color: green;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.descProduto{
  font-size: 18px;
}

.precoProduto{
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .produtos li{
    display: block;
    margin: 10px auto;
  }
}